include MANIFEST.in
include *.json
include *.md
include *.py
include *.txt
recursive-include hmmhr *.css
recursive-include hmmhr *.csv
recursive-include hmmhr *.html
recursive-include hmmhr *.ico
recursive-include hmmhr *.js
recursive-include hmmhr *.json
recursive-include hmmhr *.md
recursive-include hmmhr *.png
recursive-include hmmhr *.py
recursive-include hmmhr *.svg
recursive-include hmmhr *.txt
recursive-exclude hmmhr *.pyc
